
// Customzie size
$mobile-width: 480px; 
$mobile-width-flex: 540px;
$tablet-width: 768px;
$tablet-width-x: 826px;
$desktop-width: 1024px;


@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
        @content;   
   } 
}  

@mixin mobile-flex { @media (min-width: #{$mobile-width-flex}) and (max-width: #{$tablet-width - 1px}) {       
        @content;   
   } 
} 

@mixin tablet-x { @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-width-x - 1px}) {       
        @content;   
   } 
} 
  
@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
        @content;   
   } 
}  

  
@mixin desktop {   @media (min-width: #{$desktop-width}) {     
        @content;  
    } 
}
