@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

// Variables color

$color-primary: #242933;
$color-secondary: #2a303c;
$color-hover: #ffa533;
$color-border: #5e1bd5;
$color-text: #7b7a7a;
$color-completed: #1aff1a;
$color-white: #fff;
$color-black: #000;


$font-text-animated: 'Dancing Script', cursive;

// Variables Font-weight
$font-s: 400;
$font-m: 500;
$font-l: 700;


// Variables Font-size
$font-size-animated: 60px;
$font-size-animated-mb: 48px;
$font-description: 12px;
$font-select: 14px;
$font-text: 16px;
$font-name: 20px;
$font-title: 22px;