.site-body {
    width: 90%;
    max-height: 100%;
    margin: auto auto;
    margin-top: 50px;
    @include mobile-flex {
        margin-top: 0;
    }
    @include mobile {
        margin-top: 0;
    }
}

.site-content {
    background-color: $color-secondary;
    border-radius: 1rem;
    @include mobile-flex {
        margin-top: 10px;
        background-color: $color-primary;
    }
    @include mobile {
        margin-top: 10px;
        background-color: $color-primary;
    }
    padding: 0;
    .content-main {
        border-radius: 1rem;
        @include mobile {
            border-radius: 1rem;
        }
        & > .container {
            padding: 20px 20px;
            @include mobile {
                padding: 0;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $color-border;
}