.animate-text {
    margin-top: 50px;
    text-align: center;
    padding: 20px 50px;
    span {
        font-family: $font-text-animated;
        font-size: $font-size-animated;
        line-height: 4rem;
        color: $color-hover;
    }
    @include tablet-x {
        margin-top: 10px;
        padding: 0;
        span {
            font-size: $font-size-animated-mb;
        }
    }
    @include mobile-flex {
        margin-top: 10px;
        padding: 20px 0;
        span {
            font-size: $font-size-animated-mb;
        }
    }

    @include mobile {
        margin-top: 10px;
        padding: 0;
        span {
            font-size: $font-size-animated-mb;
        }
    }

}