.project-page {
    .container {
        padding: 10px;
        @include mobile {
            padding: 0;
        }
    }

    .list-project {
        flex-wrap: wrap;
        height: 70vh;
        max-height: 9000px; 
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 30px;
        @include mobile {
            height: 100%;
        }
        .project-item {
            padding: 5px 12px;
            position: relative;

            .content-main-project {
                color: $color-text;
                padding: 10px 16px;
                display: flex;
                flex-direction: column;
                .project-name {
                    font-size: $font-name;
                    line-height: 2rem;
                    transition: all 0.35s ease-in-out;
                }
                .project-overview {
                    font-size: $font-text;
                    line-height: 1.2rem;
                    flex: 1;
                }
                .project-language {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    flex: 1;
                    span {
                        background-color: $color-hover;
                        border-radius: 20px;
                        color: $color-white;
                        padding: 7px 15px;
                        margin: 5px 4px;
                    }
                }
                .project-status {
                    position: absolute;
                    top: 22px;
                    right: 36px;
                    @include mobile {
                        top: 20px;
                        right: 26px;
                    }
                    span {
                        font-size: $font-select;
                        position: relative;
                        @include mobile {
                            font-size: $font-description;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: -15px;
                            transform: translateY(-50%);
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: $color-completed;
                        }
                    }
                }
                .project-button {
                    margin-top: 15px;
                    padding-bottom: 10px;
                    text-align: right;
                    a {
                        color: $color-white;
                        font-size: $font-select;
                        font-weight: $font-m;
                        padding: 10px 10px;
                        margin: 0 5px;
                        background-color: $color-border;
                        border-radius: 5px;
                        transition: all 0.35s ease-in-out;
                        &:hover {
                            opacity: 0.5;
                        }
                        @include mobile {
                            font-size: 10px;
                            padding: 12px 8px;
                        }
                    }
                }
            }
        }
    }
}