.skill-page {
    .section-box {
        padding: 30px 30px;
    }
    .section-title {
        font-weight: $font-m;
        margin-bottom: 20px;
    }

    .list-tech {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        .item-card {
            margin: 8px 8px;
            padding: 7px 15px;
            border-radius: 15px;
            background-color: $color-hover;
        }
    }
}